.account {
  width: 1200px;
  height: 720px;
  border-radius: 8px;
  background-color: #F1F9FF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  margin-bottom: 40px;
}

.navbarItem {
  width: 25%;
  font-size: 24px;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarItemSelected {
  width: 25%;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1000px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.formPair {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  font-size: 20px;
}

.formInput {
  font-size: 20px;
  width: 240px;
}

.changePassword {
  align-self: flex-end;
  height: 64px;
  width: 280px;
  border: none;
  background-color: #87E379;
  border-radius: 8px;
  font-size: 20px;
}