.canvas {
  width: 1024px;
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.disabled {
  display: none;
  background-color: #F1F9FF;
  border-radius: 8px;
  padding: 8px;
  width: 300px;
  align-self: center;
  text-align: center;
}

.topInterface {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.toolbar {
  width: 48px;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.toolbarButton {
  height: 48px;
  width: 48px;
  border: none;
  background-color: white;
  margin-bottom: 8px;
  border-radius: 8px;
}

.toolbarButtonIcon {
  height: 40px;
  width: 40px;
}

.canvasBoard {
  width: 800px;
  height: 600px;
  background-color: white;
}

.brushbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brushes {
  width: 144px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.brush {
  width: 64px;
  height: 64px;
  background-color: #53DD6C;
  border-radius: 8px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stickersButton {
  width: 144px;
  height: 72px;
  margin: 4px auto;
  border-radius: 8px;
  background-color: #AA3E98;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomInterface {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color {
  height: 80px;
  width: 80px;
  margin: 0 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedColor {
  color: white;
  width: 104px;
  height: 104px;
}

@media screen and (max-height: 700px) {
  .bottomInterface {
    height: 48px;
  }

  .color {
    height: 48px;
    width: 80px;
    border-radius: 0;
  }

  .selectedColor {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-width: 1024px) {
  .disabled {
    display: block;
  }

  .topInterface {
    display: none;
  }

  .bottomInterface {
    display: none;
  }
}