.canvas {
  width: 1024px;
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.topInterface {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.canvasBoard {
  width: 800px;
  height: 600px;
  background-color: white;
}

.stickersButton {
  width: 144px;
  height: 72px;
  margin: 4px auto;
  border-radius: 8px;
  background-color: #AA3E98;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomInterface {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color {
  height: 60px;
  width: 60px;
  margin: 0 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedColor {
  color: white;
  width: 52px;
  height: 52px;
}

@media screen and (max-height: 700px) {
  .bottomInterface {
    height: 48px;
  }

  .color {
    height: 48px;
    width: 80px;
    border-radius: 0;
  }

  .selectedColor {
    width: 43px;
    height: 43px;
  }
}

@media screen and (max-width: 1024px) {
  .disabled {
    display: block;
  }

  .topInterface {
    display: none;
  }

  .bottomInterface {
    display: none;
  }
}